* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}

body {
  padding: 0 3rem;
  font-family: 'Inter', sans-serif;
}

/* Hero and nav */

.hero {
  background-image: url(./images/your_verse_hero_2x.jpg);
  background-size: cover;
  background-position: 50% 100%;
  background-repeat: no-repeat;
  min-height: 65vh;
  min-width: 96rem;
  border: solid 1px #fff;
  display: flex;
  flex-direction: column;
}

.nav {
  background-image: linear-gradient(
    to bottom,
    #939393 0%,
    #717171 49%,
    #5e5e5e 51%,
    #787878 100%
  );
  width: 70%;
  margin: 8rem auto 6rem;
  border-radius: 4px;
}

.nav-items {
  height: 4rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  color: #fff;
}

.nav-items li {
  margin-left: 4rem;
  font-size: 1.3rem;
  font-weight: 500;
  line-height: 1.8rem;
  /* border-right: solid 1px #535353; */
}

.nav-items li:last-of-type {
  margin-right: 1rem;
  border-right: none;
}
#apple-logo {
  height: 2rem;
}

.hero-text {
  text-align: center;
  color: #fff;
}

.hero-text h1 {
  font-weight: 100;
  font-size: 5.5rem;
}

.hero-text h2 {
  font-weight: 200;
  font-size: 3rem;
  margin: 1rem 0 2.5rem;
}

.hero-text h3 {
  font-weight: 200;
  font-size: 2.4rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Promo section  */

.promo {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1px;
}

.promo img {
  width: 100%;
}
